<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mappers.RecursoMapper">
    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id_recursos'/>
        <result property='nombre' column='nombre'/>
        <result property='capacidad' column='capacidad'/>
        <result property='horario_inicial' column='horario_inicial'/>
        <result property='horario_final' column='horario_final'/>
        <result property='disponibilidad' column='disponibilidad'/>
        <association property="tiporecurso" javaType="TipoRecurso" resultMap="edu.eci.cvds.persistence.mappers.TipoRecursoMapper.TipoRecursoResult" columnPrefix="tr_"/>
        <association property="ubicacion" javaType="ubicacion" resultMap="edu.eci.cvds.persistence.mappers.UbicacionMapper.UbicacionResult" columnPrefix="ub_"/>
    </resultMap>
    <select id="consultarRecursos" resultMap="RecursoResult">
            select
            r.id_recursos,
            r.nombre,
            ub.id as ub_id,
            ub.ubicacion as ub_ubicacion,
            r.capacidad,
            r.horario_inicial,
            r.horario_final,
            r.disponibilidad,
            tr.id tr_id,
            tr.tipo tr_tipo
            FROM
            recursos as r
            JOIN tiporecurso as tr ON(tr.id = r.tiporecurso)
            JOIN ubicacion as ub ON(ub.id = r.ubicacion)

    </select>
    <insert id="agregarRecursos" parameterType="edu.eci.cvds.entities.Recurso">
        INSERT INTO Recursos(
        id_recursos,nombre,ubicacion,capacidad,horario_inicial,horario_final,disponibilidad,tiporecurso
        ) VALUES(
        #{Recurso.id}, #{Recurso.nombre},#{Recurso.ubicacion.id},#{Recurso.capacidad},#{Recurso.horario_inicial},#{Recurso.horario_final},#{Recurso.disponibilidad},#{Recurso.tiporecurso.id});
    </insert>
</mapper>
