<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mappers.ReservaMapper">
    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id_reserva' column='id_reserva'/>
        <result property='nombre' column='r_nombre'/>
        <result property='fechasoli' column='fechasoli'/>
        <result property='fechaini' column='fechaini'/>
        <result property='fechafin' column='fechafin'/>
        <result property='estado' column='estado'/>
        <association property="usuario" javaType="User" resultMap="edu.eci.cvds.persistence.mappers.UserMapper.UserResult" columnPrefix="u_"/>
        <association property="recurso" javaType="Recurso" resultMap="edu.eci.cvds.persistence.mappers.RecursoMapper.RecursoResult" columnPrefix="re_" />
        <association property="tiporeserva" javaType="TipoReserva" resultMap="edu.eci.cvds.persistence.mappers.TipoReservaMapper.TipoReservaResult"  columnPrefix="tr_"/>
    </resultMap>
    <select id="consultarReservas" resultMap="ReservaResult" parameterType="map">
        select
        r.id_reserva,
        r.nombre r_nombre,
        r.fechasoli,
        r.fechaini,
        r.fechafin,
        r.estado,
        u.nombre u_nombre,
        re.id_recursos re_id_recursos,
        tr.tipore tr_tipore,
        tr.id tr_id
        FROM
        reserva as r
        INNER JOIN usuarios as u ON (u.documento = r.usuario)
        INNER JOIN recursos as re ON (re.id_recursos = r.recurso)
        INNER JOIN tiporeserva as tr ON (tr.id = r.tiporeserva)
    </select>
    <select id="consultarReserva" resultMap="ReservaResult" parameterType="map">
        select
        r.id_reserva,
        r.nombre r_nombre,
        r.fechasoli,
        r.fechaini,
        r.fechafin,
        r.estado,
        u.nombre u_nombre,
        re.id_recursos re_id_recursos,
        tr.tipore tr_tipore,
        tr.id tr_id
        FROM
        reserva as r
        INNER JOIN usuarios as u ON (u.documento = r.usuario)
        INNER JOIN recursos as re ON (re.id_recursos = r.recurso)
        INNER JOIN tiporeserva as tr ON (tr.id = r.tiporeserva)
        where r.id_reserva = #{idReserva}
    </select>
    <select id="consultarReservasRecurso" resultMap="ReservaResult" parameterType="map">
        select
        r.id_reserva,
        r.nombre r_nombre,
        r.fechasoli,
        r.fechaini,
        r.fechafin,
        r.estado,
        u.nombre u_nombre,
        re.id_recursos re_id_recursos,
        tr.tipore tr_tipore,
        tr.id tr_id
        FROM
        reserva as r
        INNER JOIN usuarios as u ON (u.documento = r.usuario)
        INNER JOIN recursos as re ON (re.id_recursos = r.recurso)
        INNER JOIN tiporeserva as tr ON (tr.id = r.tiporeserva)
        WHERE id_recursos = #{rRecurso}
    </select>
    <select id="consultarReservasUser" resultMap="ReservaResult" parameterType="map">
        select
        r.id_reserva,
        r.nombre r_nombre,
        r.fechasoli,
        r.fechaini,
        r.fechafin,
        r.estado,
        u.nombre u_nombre,
        re.id_recursos re_id_recursos,
        re.nombre re_nombre,
        tr.tipore tr_tipore,
        tr.id tr_id
        FROM
        reserva as r
        INNER JOIN usuarios as u ON (u.documento = r.usuario)
        INNER JOIN recursos as re ON (re.id_recursos = r.recurso)
        INNER JOIN tiporeserva as tr ON (tr.id = r.tiporeserva)
        WHERE r.usuario = #{rUsuario}
    </select>
    <insert id="reservarRecurso" parameterType="map">
        INSERT INTO reserva(
        id_reserva,nombre,fechasoli,fechaini,fechafin,estado,usuario,recurso,tiporeserva
        ) VALUES(
        #{Reserva.id_reserva},#{Reserva.nombre},#{Reserva.fechasoli},#{Reserva.fechaini},#{Reserva.fechafin},#{Reserva.estado},#{Reserva.usuario.documento},#{Reserva.recurso.id},#{Reserva.tiporeserva.id});
    </insert>
    <update id="CancelarReserva" parameterType="int">
        UPDATE reserva
        SET estado = NOT estado
        WHERE id_reserva = #{idReserva}
    </update>
</mapper>