?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mappers.ReservaMapper">
    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id' column='id_reserva'/>
        <result property='nombre' column='nombre'/>
        <result property='recurso' column='capacidad'/>
        <result property='fechasoli' column='horario_inicial'/>
        <result property='fechaini' column='horario_final'/>
        <result property='fechafin' column='disponibilidad'/>
        <association property="usuarios" javaType="usuarios" resultMap="edu.eci.cvds.persistence.mappers.UserMapper.UserResult" columnPrefix="tr_"/>
        <association property="recursos" javaType="recursos" resultMap="edu.eci.cvds.persistence.mappers.RecursoMapperr.RecursoResult" columnPrefix="ub_"/>
    </resultMap>
    <insert id="agregarReserva" parameterType="edu.eci.cvds.entities.Reserva">


    </insert>
</mapper>