<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mappers.ReservaMapper">
    <resultMap type='Reserva' id='ReservaResult'>
        <id property='id_reserva' column='id_reserva'/>
        <result property='nombre' column='nombre'/>
        <result property='fechasoli' column='fechasoli'/>
        <result property='fechaini' column='fechaini'/>
        <result property='fechafin' column='fechafin'/>
        <result property='estado' column='estado'/>
        <association property="usuario" javaType="user" resultMap="edu.eci.cvds.persistence.mappers.UserMapper.UserResult" columnPrefix="us_"/>
        <association property="recurso" javaType="recurso" resultMap="edu.eci.cvds.persistence.mappers.RecursoMapper.RecursoResult" columnPrefix="r_"/>
        <association property="tiporeserva" javaType="tiporeserva" resultMap="edu.eci.cvds.persistence.mappers.TipoReservaMapper.TipoReservaResult" columnPrefix="tr_"/>
    </resultMap>
    <select id="consultarReservas" resultMap="ReservaResult">
        select
        re.id_reserva,
        re.nombre,
        re.fechasoli,
        re.fechaini,
        re.fechafin,
        u.documento,
        r.id_recursos,
        t.tipo
        FROM
        reserva as re
        JOIN usuarios as u ON(u.documento = re.usuario)
        JOIN recursos as r ON(r.id_recursos = re.recurso)
        JOIN tiporecurso  as t ON(t.id = re.tiporeserva)
    </select>
    <select id="consultarReserva" resultMap="ReservaResult">
        select
        re.id_reserva,
        re.nombre,
        re.fechasoli,
        re.fechaini,
        re.fechafin,
        u.documento,
        r.id_recursos,
        t.tipo
        FROM
        reserva re
        JOIN usuarios  u ON(u.documento = re.usuario)
        JOIN recursos  r ON(r.id_recursos = re.recurso)
        JOIN tiporecurso  t ON(t.id = re.tiporeserva)
        where re.id_reserva = #{idReserva}
    </select>
    <select id="consultarReservasRecurso" resultMap="ReservaResult" parameterType="map">
        select
        re.id_reserva,
        re.nombre,
        re.fechasoli,
        re.fechaini,
        re.fechafin,
        u.documento,
        r.id_recursos,
        t.tipo
        FROM
        reserva as re
        JOIN usuarios as u ON(u.documento = re.usuario)
        JOIN recursos as r ON(r.id_recursos = re.recurso)
        JOIN tiporecurso  as t ON(t.id = re.tiporeserva)
        WHERE id_recursos = #{rRecurso}
    </select>
    <insert id="reservarRecurso" parameterType="edu.eci.cvds.entities.Reserva">
        INSERT INTO reserva(
        id_reserva,nombre,fechasoli,fechaini,fechafin,estado,usuario,recurso,tiporeserva
        ) VALUES(
        #{Reserva.id_reserva},#{Reserva.nombre},#{Reserva.fechasoli},#{Reserva.fechaini},#{Reserva.fechafin},#{Reserva.estado},#{Reserva.usuario.documento},#{Reserva.recurso.id},#{Reserva.tiporeserva.id});
    </insert>
    <update id="CancelarReserva" parameterType="int">
        UPDATE reserva
        SET estado = NOT estado
        WHERE id_reserva = #{idReserva}
    </update>

</mapper>