<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mappers.TipoRecursoMapper">
    <resultMap id="TipoRecursoResult" type="TipoRecurso">
        <id property='idtipo' column='idtipo'/>
    </resultMap>
    <select id="consultarTiporec" resultMap="TipoRecursoResult">
        select
        tr.idtipo
        FROM
        tiporecurso as tr
    </select>
</mapper>